main {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}


.header {
	text-align: center;
	font-size: 40px;
	color: #fff; /* Change this to the color you want for the text */
	text-shadow: 0 0 10px #ff9100,
		/* Horizontal offset, vertical offset, blur radius, color */ 0 0 20px
			#ff00c8,
		0 0 30px #f200ff, 0 0 40px #00ff00;
	cursor: pointer;
}

.header a {
	text-decoration: none;
	color: inherit;
}

.heading {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 10px;
}

.heading a {
	color: blueviolet;
	text-decoration: none;
}

.note {
	margin: 10px 0;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
	color: chartreuse;
}
